<!DOCTYPE html>
<html>

<head>

    <title> Countdown Solver </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

</head>

<body>

    <center>

    <h1> Countdown Solver </h1>
    <br>
    <p> Enter the target and numbers you are working with </p>

    <p> Target: <input type="text" size="3"> </p>
    <p> Numbers: 
        <input type="text" size="3"> &nbsp; 
        <input type="text" size="3"> &nbsp; 
        <input type="text" size="3"> &nbsp; 
        <input type="text" size="3"> &nbsp; 
        <input type="text" size="3"> &nbsp; 
        <input type="text" size="3"> &nbsp; 
    </p>
    
    <button> Calculate! </button>
    <br><br>
    <p id="response"></p>

    <script src="{{url_for('static', filename='js/countdown.js')}}"></script>

    </center>

</body>

</html>
